* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#time {
  font-size: 80px;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
  opacity: 0.8;
}

@media (max-width: 700px) {
  #time {
    font-size: 50px;
  }
}
